.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .login-box {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .login-button {
    padding: 0.75rem;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px; /*
  }
  .login-select {
    width: 100%; /* Chiều rộng 100% so với form */
    padding: 10px; /* Thêm khoảng cách bên trong */
    font-size: 16px; /* Tăng kích thước chữ */
    border: 1px solid #ccc; /* Đường viền */
    border-radius: 5px; /* Bo tròn các góc */
    margin-bottom: 15px; /* Thêm khoảng cách dưới để tách khỏi button */
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước tổng */
  }
  

  .login-button:hover {
    background: #0056b3;
  }